[user]
	name = Trent Scheffert
	email = trent.scheffert@gmail.com

[core]
  # TODO: Not cross platform!
  editor = vim
  encoding = utf-8
  autocrlf = false

[alias]
	lg = log -20 --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr %an)%Creset' --abbrev-commit --date=relative

[branch]
  autoSetupMerge = true
  autoSetupRebase = always

[color]
  # Sets the default for most color preferences to auto
  ui = auto
  interactive = auto

[pull]
  # Rebase fetched branches when a 'git pull' is run instead of merge
  rebase = true

[push]
  # Current pushes to remote branch with the same name, regardless of if that
  #   branch exists. Simple double checks that the branch exists on remote first.
	default = current

[status]
  short = true

[merge]
  tool = p4merge
  prompt = false
	trustExitCode = false
	keepBackup = false

[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"

[diff]
	tool = p4merge

[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$LOCAL" "$REMOTE"

[init]
	templatedir = ~/.git_template
