[user]
	name = Trent Scheffert
	email = trent.scheffert@gmail.com

[core]
    # TODO: Not cross platform!
    editor = vim
    encoding = utf-8
    autocrlf = false

[color]
    ui = auto
    status = auto
    branc = auto
    diff = auto

[push]
    # Current pushes to remote branch with the same name, regardless of if that
    #   branch exists. Simple double checks that the branch exists on remote first.
	default = current

[merge]
    tool = p4merge
    prompt = false
	trustExitCode = false
	keepBackup = false

[mergetool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"

[diff]
	tool = p4merge

[difftool "p4merge"]
	cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$LOCAL" "$REMOTE"
[init]
	templatedir = ~/.git_template
