# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Everything else is gonna be forced to lf!
* text eol=lf

# Documents and Graphics template from:
#   https://github.com/alexkaratarakis/gitattributes/blob/master/Common.gitattributes

# Documents
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
*.md text
*.adoc text
*.textile text
*.mustache text
*.csv text
*.tab text
*.tsv text
*.sql text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ico binary
# SVG treated as an asset (binary) by default. If you want to treat it as text,
# comment-out the following line and uncomment the line after.
*.svg binary
#*.svg text
*.eps binary

# Diff registry files as text
*.reg text


# Diffs
#   Details on setting up diffs:
#   https://git-scm.com/docs/gitattributes#_generating_diff_text
# Built In Diffs:
*.css diff=css
*.cs diff=csharp
*.ex diff=elixir
*.exs diff=elixir
*.go diff=golang
*.html diff=html
*.md diff=markdown
*.py diff=python
*.rb diff=ruby
*.rs diff=rust

# Specific End of Lines
# Force batch scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force bash scripts to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh text eol=lf
