# vi: ft=yaml
---
# Version: 1.18.0

extends: default

rules:
  braces:
    # Most helm defaults are '{}' instead of '{ }'
    min-spaces-inside: 0
    max-spaces-inside: 1
    min-spaces-inside-empty: -1
    max-spaces-inside-empty: -1
  comments:
    level: warning
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 1
  # Most fetched helm charts have commented out values, with comments, which
  # isn't detected by this
  comments-indentation: disable
  # This is never present in any examples and kubectl doesn't require it
  document-end:
    level: warning
    present: false
  document-start:
    level: warning
    present: true
  # Lots of helm charts have empty values, but that's silly
  empty-values:
    forbid-in-block-mappings: true
    forbid-in-flow-mappings: true
  indentation:
    # Almost everything uses 2 spaces, just enforce that
    spaces: 2
    # True is prefered, but Kubernetes examples don't indent. Seems like
    # Kubernetes prefers object sequences _not_ indented and array sequences
    # indented. Meaning we can't even be consistent.
    indent-sequences: whatever
    # Seems like a good idea but fails for strings where you might want
    # inconsistent indendation, like code snippets
    check-multi-line-strings: false
  # This would be cool but would wreak havok
  key-ordering: disable
  line-length:
    max: 150
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  new-lines:
    # This is default but I don't want it to ever be able to change
    type: unix
  trailing-spaces: enable
  truthy:
    level: warning
