<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>055496EA-D329-4BDB-B4E6-9A6541AEF0FF</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>git</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Git SCM Search</string>
			<key>url</key>
			<string>https://git-scm.com/search/results?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2151513C-50B1-4356-A298-09E7BCDE8244</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>circle</string>
			<key>text</key>
			<string>CircleCI</string>
			<key>url</key>
			<string>https://circleci.com/gh/trunkclub/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>326B05C5-03B8-4782-B265-101582B44A63</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>sidekiq-stg</string>
			<key>text</key>
			<string>Sidekiq Staging Dashboard</string>
			<key>url</key>
			<string>https://sidekiq-stg.trunkclub.systems/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>430E0E6C-7CC7-44E2-A43F-430BE7FDA518</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gem</string>
			<key>text</key>
			<string>Rubygems</string>
			<key>url</key>
			<string>https://rubygems.org/gems/{query}/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4827283B-0D1C-4A90-84E2-1862BCEA6616</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ruby</string>
			<key>text</key>
			<string>Ruby Docs for '{query}'</string>
			<key>url</key>
			<string>http://ruby-doc.org/core-2.7.1/{query}.html</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4D5CE735-0741-40FE-A22A-659816DD7C39</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>man</string>
			<key>text</key>
			<string>Mankier Man Pages</string>
			<key>url</key>
			<string>https://www.mankier.com/?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5418D49F-60D5-4C95-BE2F-623D080C3EFC</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>kafka</string>
			<key>text</key>
			<string>Kafka Management App</string>
			<key>url</key>
			<string>https://mgmt.trunkclub.systems/kafka</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6D621856-F15A-4FBB-841E-07EEED9EF085</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>sidekiq</string>
			<key>text</key>
			<string>Sidekiq Dashboard</string>
			<key>url</key>
			<string>https://sidekiq.trunkclub.systems/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8A37DAB4-1346-4AFA-B53F-13A975510722</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ruby-doc</string>
			<key>text</key>
			<string>Search Ruby Doc for '{query}'</string>
			<key>url</key>
			<string>http://ruby-doc.com/search.html?q={query}+2.7.1&amp;sa=Search</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8DF5D5CA-3EE9-47BD-8258-CA2A9485D881</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>Github</string>
			<key>url</key>
			<string>https://github.com/trunkclub/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CAB2BF10-0767-4435-9468-8712683DBA31</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>kafka-stg</string>
			<key>text</key>
			<string>Kafka-Staging Managment App</string>
			<key>url</key>
			<string>https://mgmt-stg.trunkclub.systems/kafka</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D37DD5EE-E471-4ED9-8DD3-D50A1AB3EDC4</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>consul</string>
			<key>text</key>
			<string>Consul Prod</string>
			<key>url</key>
			<string>https://consul.trunkclub.systems/ui/#/us-east1/kv/{query}/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>DC8F4619-92C4-43BE-BE4A-A158352D52CB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ruby-std</string>
			<key>text</key>
			<string>Ruby Docs Std-lib Filter for '{query}'</string>
			<key>url</key>
			<string>http://ruby-doc.org/stdlib-2.7.1/libdoc/{query}/rdoc/index.html</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F1AF147A-951B-4EFC-BE94-F2BEC19FB1FE</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>consul-stg</string>
			<key>text</key>
			<string>Consul Staging</string>
			<key>url</key>
			<string>https://consul-stg.trunkclub.systems/ui/#/us-east1/kv/{query}/</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
